
div {
	margin: 0px; padding: 0px;
}
dl {
	margin: 0px; padding: 0px;
}
dt {
	margin: 0px; padding: 0px;
}
dd {
	margin: 0px; padding: 0px;
}
ul {
	margin: 0px; padding: 0px;
}
ol {
	margin: 0px; padding: 0px;
}
li {
	margin: 0px; padding: 0px;
}
h1 {
	margin: 0px; padding: 0px;
}
h2 {
	margin: 0px; padding: 0px;
}
h3 {
	margin: 0px; padding: 0px;
}
h4 {
	margin: 0px; padding: 0px;
}
h5 {
	margin: 0px; padding: 0px;
}
h6 {
	margin: 0px; padding: 0px;
}
pre {
	margin: 0px; padding: 0px;
}
code {
	margin: 0px; padding: 0px;
}
form {
	margin: 0px; padding: 0px;
}
fieldset {
	margin: 0px; padding: 0px;
}
legend {
	margin: 0px; padding: 0px;
}
input {
	margin: 0px; padding: 0px;
}
button {
	margin: 0px; padding: 0px;
}
textarea {
	margin: 0px; padding: 0px;
}
p {
	margin: 0px; padding: 0px;
}
blockquote {
	margin: 0px; padding: 0px;
}
th {
	margin: 0px; padding: 0px;
}
td {
	margin: 0px; padding: 0px;
}
h1 {
	font-size: 100%;
}
h2 {
	font-size: 100%;
}
h3 {
	font-size: 100%;
}
h4 {
	font-size: 100%;
}
h5 {
	font-size: 100%;
}
h6 {
	font-size: 100%;
}
ol {
	list-style: none;
}
ul {
	list-style: none;
}
address {
	font-style: normal;
}
caption {
	font-style: normal;
}
cite {
	font-style: normal;
}
code {
	font-style: normal;
}
dfn {
	font-style: normal;
}
em {
	font-style: normal;
}
strong {
	font-style: normal;
}
th {
	font-style: normal;
}
var {
	font-style: normal;
}
optgroup {
	font-style: normal;
}
input {
	font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit;
}
button {
	font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit;
}
textarea {
	font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit;
}
select {
	font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit;
}
optgroup {
	font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit;
}
option {
	font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit;
}
fieldset {
	border: 0px currentColor; border-image: none;
}
img {
	border: 0px currentColor; border-image: none;
}
a img {
	border: 0px currentColor; border-image: none;
}
:link img {
	border: 0px currentColor; border-image: none;
}
:visited img {
	border: 0px currentColor; border-image: none;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
:focus {
	outline: 0px;
}
table {
	border-collapse: collapse; border-spacing: 0;
}
caption {
	text-align: left;
}
th {
	text-align: left;
}
sup {
	font-size: 100%; vertical-align: baseline;
}
sub {
	font-size: 100%; vertical-align: baseline;
}
blockquote {
	quotes: none;
}
q {
	quotes: none;
}
blockquote::before {
	content: none;
}
blockquote::after {
	content: none;
}
q::before {
	content: none;
}
q::after {
	content: none;
}
.clear {
	height: 0px; overflow: hidden; clear: both; display: block;
}
.clearfix::after {
	height: 0px; overflow: hidden; clear: both; display: block;
}
.clearfix::after {
	visibility: hidden; content: ".";
}
.clearfix {
	
}
.common_wrap {
	margin: 0px auto; width: 960px;
}
.cWhite {
	color: rgb(255, 255, 255);
}
.cWhite:visited {
	color: rgb(255, 255, 255);
}
.cWhite a {
	color: rgb(255, 255, 255);
}
.cYellow {
	color: rgb(255, 255, 0);
}
.cYellow:visited {
	color: rgb(255, 255, 0);
}
.cGreen {
	color: rgb(0, 128, 0);
}
.cGreen:visited {
	color: rgb(0, 128, 0);
}
.cGray {
	color: rgb(51, 51, 51);
}
.cGray:visited {
	color: rgb(51, 51, 51);
}
.cGray a {
	color: rgb(51, 51, 51);
}
.cDGray {
	color: rgb(114, 113, 113);
}
.cDGray:visited {
	color: rgb(114, 113, 113);
}
.cDGray a {
	color: rgb(114, 113, 113);
}
.cBlack {
	color: rgb(0, 0, 0);
}
.cBlack:visited {
	color: rgb(0, 0, 0);
}
.cBlack a {
	color: rgb(0, 0, 0);
}
.cBlue {
	color: rgb(30, 80, 162);
}
.cBlue:visited {
	color: rgb(30, 80, 162);
}
.cBlue a {
	color: rgb(30, 80, 162);
}
.cRed {
	color: red;
}
.cRed:visited {
	color: red;
}
.cRed a {
	color: red;
}
.cDRed {
	color: rgb(186, 38, 54);
}
.cDRed:visited {
	color: rgb(186, 38, 54);
}
.cDRed a {
	color: rgb(186, 38, 54);
}
.cRed a:hover {
	color: rgb(186, 38, 54);
}
a.cRed:hover {
	color: rgb(186, 38, 54);
}
.cBlue a:hover {
	color: rgb(186, 38, 54);
}
a.cBlue:hover {
	color: rgb(186, 38, 54);
}
.cDRed a:hover {
	color: rgb(186, 38, 54);
}
a.cDRed:hover {
	color: rgb(186, 38, 54);
}
.cGray a:hover {
	color: rgb(186, 38, 54);
}
a.cGray:hover {
	color: rgb(186, 38, 54);
}
.cDGray a:hover {
	color: rgb(186, 38, 54);
}
a.cDGray:hover {
	color: rgb(186, 38, 54);
}
.cWhite a:hover {
	color: rgb(186, 38, 54);
}
a.cWhite:hover {
	color: rgb(186, 38, 54);
}
.cBlack a:hover {
	color: rgb(186, 38, 54);
}
a.cBlack:hover {
	color: rgb(186, 38, 54);
}
.cGreen a:hover {
	color: rgb(186, 38, 54);
}
a.cGreen:hover {
	color: rgb(186, 38, 54);
}
.cYellow a:hover {
	color: rgb(186, 38, 54);
}
a.cYellow:hover {
	color: rgb(186, 38, 54);
}
.fB {
	font-weight: bold;
}
.fI {
	font-style: italic;
}
.f12px {
	font-size: 12px;
}
.f14px {
	font-size: 14px;
}
.left {
	float: left;
}
.right {
	float: right;
}
.hidden {
	display: none;
}
.unLine {
	text-decoration: none;
}
.unLine a {
	text-decoration: none;
}
.noBorder {
	border: 0px currentColor; border-image: none;
}
.I_V_ {
	background: url("http://img1.cache.netease.com/img09/icon/icon.png") no-repeat left; padding-left: 18px;
}
.I_M_ {
	background: url("http://img1.cache.netease.com/img09/icon/icon.png") no-repeat -457px; padding-left: 18px;
}
.foot {
	margin: 0px auto; width: 960px; color: rgb(77, 77, 77); line-height: 21px; clear: both;
}
.foot .text {
	margin: 0px 0px 5px; padding: 4px 0px 5px; border-bottom-color: rgb(77, 77, 77); border-bottom-width: 1px; border-bottom-style: solid;
}
.foot a {
	color: rgb(77, 77, 77);
}
.foot a:visited {
	color: rgb(77, 77, 77);
}
.foot a:hover {
	color: rgb(186, 38, 54);
}
.clear {
	height: 0px; overflow: hidden; clear: both; display: block;
}
.clearfix {
	
}
.clearfix::after {
	height: 0px; overflow: hidden; clear: both; display: block; visibility: hidden; content: ".";
}
.blankW {
	background: rgb(255, 255, 255);
}
.blank3 {
	height: 3px; overflow: hidden; clear: both; display: block;
}
.blank6 {
	height: 6px; overflow: hidden; clear: both; display: block;
}
.blank9 {
	height: 9px; overflow: hidden; clear: both; display: block;
}
.blank9w {
	background: rgb(255, 255, 255); height: 9px; overflow: hidden; clear: both; display: block;
}
.blank12 {
	height: 12px; overflow: hidden; clear: both; display: block;
}
.blank15 {
	height: 15px; overflow: hidden; clear: both; display: block;
}
.blank20 {
	height: 20px; overflow: hidden; clear: both; display: block;
}
.I_V_ {
	padding: 2px 0px 2px 20px; background-image: url("http://img6.cache.netease.com/cnews/news2012/img/icons-new-v2.png"); background-repeat: no-repeat;
}
.I_N_V_ {
	padding: 2px 0px 2px 20px; background-image: url("http://img6.cache.netease.com/cnews/news2012/img/icons-new-v2.png"); background-repeat: no-repeat;
}
.I_NV_ {
	padding: 2px 0px 2px 20px; background-image: url("http://img6.cache.netease.com/cnews/news2012/img/icons-new-v2.png"); background-repeat: no-repeat;
}
.I_A_ {
	padding: 2px 0px 2px 20px; background-image: url("http://img6.cache.netease.com/cnews/news2012/img/icons-new-v2.png"); background-repeat: no-repeat;
}
.I_N_G_ {
	padding: 2px 0px 2px 20px; background-image: url("http://img6.cache.netease.com/cnews/news2012/img/icons-new-v2.png"); background-repeat: no-repeat;
}
.I_N_PIC_ {
	padding: 2px 0px 2px 20px; background-image: url("http://img6.cache.netease.com/cnews/news2012/img/icons-new-v2.png"); background-repeat: no-repeat;
}
.I_PIC_ {
	padding: 2px 0px 2px 20px; background-image: url("http://img6.cache.netease.com/cnews/news2012/img/icons-new-v2.png"); background-repeat: no-repeat;
}
.I_C_ {
	padding: 2px 0px 2px 20px; background-image: url("http://img6.cache.netease.com/cnews/news2012/img/icons-new-v2.png"); background-repeat: no-repeat;
}
.I_R_ {
	padding: 2px 0px 2px 20px; background-image: url("http://img6.cache.netease.com/cnews/news2012/img/icons-new-v2.png"); background-repeat: no-repeat;
}
.I_SN_ {
	padding: 2px 0px 2px 20px; background-image: url("http://img6.cache.netease.com/cnews/news2012/img/icons-new-v2.png"); background-repeat: no-repeat;
}
.I_T_ {
	padding: 2px 0px 2px 20px; background-image: url("http://img6.cache.netease.com/cnews/news2012/img/icons-new-v2.png"); background-repeat: no-repeat;
}
.I_NM_ {
	padding: 2px 0px 2px 20px; background-image: url("http://img6.cache.netease.com/cnews/news2012/img/icons-new-v2.png"); background-repeat: no-repeat;
}
.I_L_ {
	padding: 2px 0px 2px 20px; background-image: url("http://img6.cache.netease.com/cnews/news2012/img/icons-new-v2.png"); background-repeat: no-repeat;
}
.I_TN_ {
	padding: 2px 0px 2px 20px; background-image: url("http://img6.cache.netease.com/cnews/news2012/img/icons-new-v2.png"); background-repeat: no-repeat;
}
.I_V_ {
	background-position: 0px;
}
.I_N_V_ {
	background-position: 0px;
}
.I_NV_ {
	background-position: 0px;
}
.I_A_ {
	background-position: -440px;
}
.I_N_G_ {
	background-position: -440px;
}
.I_N_PIC_ {
	background-position: -880px;
}
.I_PIC_ {
	background-position: -880px;
}
.I_C_ {
	background-position: -1320px;
}
.I_R_ {
	background-position: -1760px;
}
.I_SN_ {
	background-position: -2200px;
}
.I_T_ {
	background-position: -2640px;
}
.I_NM_ {
	background-position: -3080px;
}
.I_L_ {
	background-position: -3520px;
}
.I_TN_ {
	background-position: -3960px;
}
.ico_new {
	background-image: url("http://img1.cache.netease.com/f2e/common/images/icon_2013.png"); background-repeat: no-repeat;
}
.ico_hot {
	background-image: url("http://img1.cache.netease.com/f2e/common/images/icon_2013.png"); background-repeat: no-repeat;
}
.ico_more {
	background-image: url("http://img1.cache.netease.com/f2e/common/images/icon_2013.png"); background-repeat: no-repeat;
}
.ico_new {
	background-position: right -90px; padding: 5px 22px 0px 0px;
}
.ico_hot {
	background-position: right -47px; padding: 5px 20px 0px 0px;
}
.ico_more {
	background-position: right 0px; padding-right: 18px;
}
.ntes-nav-entry-wblog {
	background-image: url("http://img4.cache.netease.com/www/v2013/img/nav_sprite_v23.png"); background-repeat: no-repeat; _background-image: url(http://img4.cache.netease.com/www/v2013/img/nav_sprite_ie6_v4.png);
}
.ntes-nav-entry-mail {
	background-image: url("http://img4.cache.netease.com/www/v2013/img/nav_sprite_v23.png"); background-repeat: no-repeat; _background-image: url(http://img4.cache.netease.com/www/v2013/img/nav_sprite_ie6_v4.png);
}
.ntes-nav-entry-money {
	background-image: url("http://img4.cache.netease.com/www/v2013/img/nav_sprite_v23.png"); background-repeat: no-repeat; _background-image: url(http://img4.cache.netease.com/www/v2013/img/nav_sprite_ie6_v4.png);
}
.ntes-nav-entry-rss {
	background-image: url("http://img4.cache.netease.com/www/v2013/img/nav_sprite_v23.png"); background-repeat: no-repeat; _background-image: url(http://img4.cache.netease.com/www/v2013/img/nav_sprite_ie6_v4.png);
}
.ntes-nav-entry-huatian {
	background-image: url("http://img4.cache.netease.com/www/v2013/img/nav_sprite_v23.png"); background-repeat: no-repeat; _background-image: url(http://img4.cache.netease.com/www/v2013/img/nav_sprite_ie6_v4.png);
}
.ntes-nav-app-newsapp {
	background-image: url("http://img4.cache.netease.com/www/v2013/img/nav_sprite_v23.png"); background-repeat: no-repeat;
}
.ntes-nav-app-ht {
	background-image: url("http://img4.cache.netease.com/www/v2013/img/nav_sprite_v23.png"); background-repeat: no-repeat;
}
.ntes-nav-app-open {
	background-image: url("http://img4.cache.netease.com/www/v2013/img/nav_sprite_v23.png"); background-repeat: no-repeat;
}
.ntes-nav-app-note {
	background-image: url("http://img4.cache.netease.com/www/v2013/img/nav_sprite_v23.png"); background-repeat: no-repeat;
}
.ntes-nav-app-yuedu {
	background-image: url("http://img4.cache.netease.com/www/v2013/img/nav_sprite_v23.png"); background-repeat: no-repeat;
}
.ntes-nav-app-cd {
	background-image: url("http://img4.cache.netease.com/www/v2013/img/nav_sprite_v23.png"); background-repeat: no-repeat;
}
.ntes-nav-app-cp {
	background-image: url("http://img4.cache.netease.com/www/v2013/img/nav_sprite_v23.png"); background-repeat: no-repeat;
}
.ntes-nav-app-msc {
	background-image: url("http://img4.cache.netease.com/www/v2013/img/nav_sprite_v23.png"); background-repeat: no-repeat;
}
.c-fl {
	float: left;
}
.c-fr {
	float: right;
}
.ma6 {
	margin-top: 6px;
}
.mt6 {
	margin-top: 6px;
}
.ma6 {
	margin-right: 6px;
}
.mr6 {
	margin-right: 6px;
}
.ma6 {
	margin-bottom: 6px;
}
.mb6 {
	margin-bottom: 6px;
}
.ma6 {
	margin-left: 6px;
}
.ml6 {
	margin-left: 6px;
}
.ma12 {
	margin-top: 12px;
}
.mt12 {
	margin-top: 12px;
}
.ma12 {
	margin-right: 12px;
}
.mr12 {
	margin-right: 12px;
}
.ma12 {
	margin-bottom: 12px;
}
.mb12 {
	margin-bottom: 12px;
}
.ma12 {
	margin-left: 12px;
}
.ml12 {
	margin-left: 12px;
}
.tips-error input {
	background: rgb(255, 238, 238); border: 1px solid rgb(255, 181, 181); border-image: none;
}
.ntes-nav-msg {
	display: none;
}
.ua-mac .ntes-nav-msg {
	background: rgb(238, 238, 238); padding: 2px; border-radius: 12px; left: 28px; top: 4px; width: auto; height: 12px; float: left; position: absolute; z-index: 2; -moz-border-radius: 12px; -webkit-border-radius: 12px;
}
.ua-ios .ntes-nav-msg {
	background: rgb(238, 238, 238); padding: 2px; border-radius: 12px; left: 28px; top: 4px; width: auto; height: 12px; float: left; position: absolute; z-index: 2; -moz-border-radius: 12px; -webkit-border-radius: 12px;
}
.ua-mac .ntes-nav-msg-num {
	padding: 4px 3px; border-radius: 10px; width: auto; height: 4px; line-height: 4px; font-family: Verdana; font-size: 10px; float: left; background-image: -ms-linear-gradient(rgb(245, 156, 160), rgb(203, 0, 3)); background-color: rgb(245, 156, 160); -moz-border-radius: 10px; -webkit-border-radius: 10px; -webkit-text-size-adjust: none;
}
.ua-ios .ntes-nav-msg-num {
	padding: 4px 3px; border-radius: 10px; width: auto; height: 4px; line-height: 4px; font-family: Verdana; font-size: 10px; float: left; background-image: -ms-linear-gradient(rgb(245, 156, 160), rgb(203, 0, 3)); background-color: rgb(245, 156, 160); -moz-border-radius: 10px; -webkit-border-radius: 10px; -webkit-text-size-adjust: none;
}
.ua-win .ntes-nav-msg {
	background: rgb(239, 49, 61); padding: 1px 4px 2px; left: 12px; top: -30px; line-height: 10px; font-family: Verdana; font-size: 10px; float: left; position: relative; -webkit-text-size-adjust: none;
}
.ua-win .ntes-nav-msg::before {
	left: 3px; top: 11px; width: 0px; height: 0px; border-top-color: rgb(239, 49, 61); border-right-color: transparent; border-left-color: transparent; border-top-width: 6px; border-right-width: 6px; border-left-width: 0px; border-top-style: solid; border-right-style: solid; border-left-style: solid; position: absolute; content: "";
}
.ntes-nav-select-list {
	background: rgb(255, 255, 255); border: 1px solid rgb(205, 205, 205); border-image: none; box-shadow: 0px 0px 8px #cdcdcd; -webkit-box-shadow: 0 0 8px #cdcdcd; -moz-box-shadow: 0 0 8px #cdcdcd;
}
.ntes-nav-loginframe-pop {
	background: rgb(255, 255, 255); border: 1px solid rgb(205, 205, 205); border-image: none; box-shadow: 0px 0px 8px #cdcdcd; -webkit-box-shadow: 0 0 8px #cdcdcd; -moz-box-shadow: 0 0 8px #cdcdcd;
}
.ntes-nav-select {
	outline: 0px; position: relative; cursor: pointer;
}
.ntes-nav-select-arr {
	border-width: 4px 4px 0px; border-style: solid dashed dashed; border-color: rgb(194, 194, 194) transparent transparent; top: 20px; width: 0px; height: 0px; right: 5px; line-height: 0; font-size: 0px; position: absolute; z-index: 10;
}
.ntes-nav-select-pop {
	left: 0px; display: none; position: absolute; z-index: 1000;
}
.ntes-nav-loginframe-pop {
	left: 0px; display: none; position: absolute; z-index: 1000;
}
.ntes-nav-loginframe-pop {
	padding: 12px 0px 20px; top: 55px; width: 260px;
}
.ntes-nav-select-list {
	padding: 6px 0px; width: 135px;
}
.ntes-nav-select-list a:hover {
	text-decoration: none;
}
.ntes-nav-select-list li {
	border: 0px currentColor; border-image: none; float: left; position: static;
}
.ntes-nav-select-list li a {
	padding: 0px 10px; display: block; position: relative; z-index: 1; _zoom: 1;
}
.ntes-nav-select-list li a span {
	width: 115px; height: 31px; line-height: 31px; border-bottom-color: rgb(220, 221, 221); border-bottom-width: 1px; border-bottom-style: dashed; display: block; cursor: pointer;
}
.ntes-nav-select-list li a:hover span {
	padding-bottom: 1px; border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none;
}
.ntes-nav-select-list li.last a span {
	border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none;
}
.ntes-nav-select-list li.last a:hover span {
	padding-bottom: 0px;
}
.ntes-nav-select-list li a {
	color: rgb(88, 88, 88);
}
.ntes-nav-select-list li a:visited {
	color: rgb(88, 88, 88);
}
.ntes-nav-select-list li a:hover {
	background: rgb(242, 242, 242); color: rgb(37, 37, 37); padding-top: 1px; font-weight: bold; margin-top: -1px;
}
.ntes-nav-select-list li a:hover span {
	background: 0px;
}
.ntes-nav-select-unfold .ntes-nav-select-arr {
	transition:0.25s; transform: rotate(180deg); -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -o-transform: rotate(180deg); -webkit-transition: all .25s ease 0s; -moz-transition: all .25s ease 0s; -o-transition: all .25s ease 0s;
}
.youdao-search-active .search-select-arr {
	transition:0.25s; transform: rotate(180deg); -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -o-transform: rotate(180deg); -webkit-transition: all .25s ease 0s; -moz-transition: all .25s ease 0s; -o-transition: all .25s ease 0s;
}
.sitemap-ctrl-active .sitemap-fixed-arr {
	transition:0.25s; transform: rotate(180deg); -webkit-transform: rotate(180deg); -moz-transform: rotate(180deg); -o-transform: rotate(180deg); -webkit-transition: all .25s ease 0s; -moz-transition: all .25s ease 0s; -o-transition: all .25s ease 0s;
}
.ntes-nav-select-unfold .ntes-nav-select-pop {
	display: block;
}
.ntes-nav-select-pop {
	padding: 12px 0px 0px; top: 43px;
}
.ntes-nav-select-wide .ntes-nav-select-title {
	padding: 0px 30px 0px 13px;
}
.ntes-nav-select-wide .ntes-nav-select-arr {
	right: 15px;
}
.ntes-nav-select-pop-mail {
	left: -48px;
}
.ntes-nav-select-pop-huatian {
	left: -70px;
}
.ntes-nav {
	text-align: left;
}
.ntes-nav {
	color: rgb(255, 255, 255);
}
.ntes-nav a {
	color: rgb(255, 255, 255);
}
.ntes-nav a:visited {
	color: rgb(255, 255, 255);
}
.ntes-nav a:hover {
	color: rgb(255, 255, 255);
}
.ntes-nav-app a:hover {
	text-decoration: none;
}
.ntes-nav-login a:hover {
	text-decoration: none;
}
.ntes-nav-logined a:hover {
	text-decoration: none;
}
.ntes-nav-entry-wide {
	padding: 0px 17px;
}
.ntes-nav-inside {
	border-right-color: rgb(63, 63, 63); border-left-color: rgb(31, 31, 31); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; float: left;
}
.ntes-nav-inside li {
	float: left;
}
.ntes-nav-entry {
	padding: 0px 15px; outline: 0px; height: 42px; text-decoration: none; float: left;
}
.ntes-nav-select-title {
	padding: 0px 15px; outline: 0px; height: 42px; text-decoration: none; float: left;
}
.ntes-nav-inside .ntes-nav-select-title {
	border-right-color: rgb(31, 31, 31); border-left-color: rgb(63, 63, 63); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; position: relative;
}
.ntes-nav-inside .ntes-nav-entry {
	border-right-color: rgb(31, 31, 31); border-left-color: rgb(63, 63, 63); border-right-width: 1px; border-left-width: 1px; border-right-style: solid; border-left-style: solid; position: relative;
}
.ntes-nav-inside .ntes-nav-select-title:hover {
	text-decoration: none;
}
.ntes-nav-inside .ntes-nav-select-title {
	padding: 1px 17px 0px 13px;
}
.ntes-nav-inside .ntes-nav-select-unfold .ntes-nav-select-title {
	border-left-color: rgb(30, 30, 30); border-left-width: 1px; border-left-style: solid;
}
.ntes-nav-inside .ntes-nav-entry:hover {
	border-left-color: rgb(30, 30, 30); border-left-width: 1px; border-left-style: solid;
}
.ntes-nav-login {
	width: 64px; height: 45px; text-align: center; margin-bottom: -6px; float: left; position: relative; z-index: 10;
}
.ntes-nav-login-title {
	width: 64px; height: 45px; text-align: center; margin-bottom: -6px; display: block;
}
.ntes-nav-login-normal {
	box-shadow: 0px -8px 8px #000; background-image: -ms-linear-gradient(rgb(225, 21, 21), rgb(187, 14, 14)); background-color: rgb(225, 21, 21); -webkit-box-shadow: 0 -8px 8px #000; -moz-box-shadow: 0 -8px 8px #000;
}
.ntes-nav-login-normal {
	border-bottom-color: rgb(143, 47, 47); border-bottom-width: 4px; border-bottom-style: solid;
}
.ntes-nav-login-active {
	border-bottom-color: rgb(143, 47, 47); border-bottom-width: 4px; border-bottom-style: solid;
}
.ntes-nav-logined {
	background: rgb(69, 69, 69); padding: 0px 15px 0px 0px; outline: 0px; height: 45px; margin-bottom: -6px; float: left; position: relative; cursor: pointer; box-shadow: 0px -8px 8px #000; -webkit-box-shadow: 0 -8px 8px #000; -moz-box-shadow: 0 -8px 8px #000;
}
.ntes-nav-logined .ntes-nav-select-arr {
	right: 10px;
}
.ntes-nav-logined-scroll .ntes-nav-select-arr {
	right: 10px;
}
.ntes-nav-logined {
	border-bottom-color: rgb(153, 153, 153); border-bottom-width: 4px; border-bottom-style: solid;
}
.ntes-nav-logined-userinfo {
	line-height: 45px; font-family: vendna;
}
.ntes-nav-login-scroll {
	background: 0px; border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
.ntes-nav-logined-scroll {
	background: 0px; border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none;
}
.ntes-nav-login-active {
	background-image: -ms-linear-gradient(rgb(205, 12, 12), rgb(162, 0, 0)); background-color: rgb(205, 12, 12);
}
.ntes-nav-entry-bgblack:hover {
	background: rgb(30, 30, 30);
}
.ntes-nav-select-unfold {
	background: rgb(30, 30, 30);
}
.ntes-nav-select-unfold .ntes-nav-select-title {
	background: rgb(30, 30, 30);
}
.ntes-nav {
	background: rgb(51, 51, 51); margin: 0px auto; left: 0px; top: 0px; width: 100%; height: 43px; line-height: 42px; border-bottom-color: rgb(96, 96, 96); border-bottom-width: 2px; border-bottom-style: solid; position: fixed; z-index: 9999; _position: absolute;
}
.ntes-nav-main {
	background: rgb(51, 51, 51); margin: 0px auto; width: 960px;
}
.ntes-nav-entry-wblog {
	width: 25px; height: 23px; text-indent: -999em; overflow: hidden; margin-top: 10px; display: block;
}
.ntes-nav-entry-mail {
	width: 25px; height: 23px; text-indent: -999em; overflow: hidden; margin-top: 10px; display: block;
}
.ntes-nav-entry-money {
	width: 25px; height: 23px; text-indent: -999em; overflow: hidden; margin-top: 10px; display: block;
}
.ntes-nav-entry-rss {
	width: 25px; height: 23px; text-indent: -999em; overflow: hidden; margin-top: 10px; display: block;
}
.ntes-nav-entry-huatian {
	width: 25px; height: 23px; text-indent: -999em; overflow: hidden; margin-top: 10px; display: block;
}
.ntes-nav-entry-wblog {
	background-position: 0px 0px;
}
.ntes-nav-entry-mail {
	background-position: 0px -23px;
}
.ntes-nav-entry-money {
	background-position: 0px -46px;
}
.ntes-nav-entry-rss {
	background-position: 0px -68px;
}
.ntes-nav-entry-huatian {
	background-position: 0px -92px;
}
.ntes-nav-app-newsapp {
	width: 73px; padding-left: 32px; display: block;
}
.ntes-nav-app-ht {
	width: 73px; padding-left: 32px; display: block;
}
.ntes-nav-app-open {
	width: 73px; padding-left: 32px; display: block;
}
.ntes-nav-app-note {
	width: 73px; padding-left: 32px; display: block;
}
.ntes-nav-app-yuedu {
	width: 73px; padding-left: 32px; display: block;
}
.ntes-nav-app-cd {
	width: 73px; padding-left: 32px; display: block;
}
.ntes-nav-app-cp {
	width: 73px; padding-left: 32px; display: block;
}
.ntes-nav-app-msc {
	width: 73px; padding-left: 32px; display: block;
}
.ntes-nav-app-newsapp {
	background-position: 0px -156px;
}
.ntes-nav-app-open {
	background-position: 0px -186px;
}
.ntes-nav-app-ht {
	background-position: 0px -216px;
}
.ntes-nav-app-note {
	background-position: 0px -246px;
}
.ntes-nav-app-yuedu {
	background-position: 0px -276px;
}
.ntes-nav-app-cp {
	background-position: 0px -306px;
}
.ntes-nav-app-cd {
	background-position: 0px -335px;
}
.ntes-nav-app-msc {
	background-position: 0px -365px;
}
.ntes-loginframe {
	margin: 10px 0px 0px; text-align: left; color: rgb(37, 37, 37); line-height: 25px;
}
.loginframe-hidden {
	display: none;
}
.ntes-loginframe a {
	color: rgb(37, 37, 37);
}
.ntes-loginframe a:visited {
	color: rgb(37, 37, 37);
}
.ntes-loginframe a:hover {
	color: rgb(186, 38, 54);
}
.ntes-loginframe-blank {
	padding-bottom: 9px; padding-left: 35px;
}
.ntes-loginframe-blank .ntes-loginframe-label {
	width: 190px; margin-right: 35px; float: left; _display: inline;
}
.ntes-loginframe-tips {
	color: rgb(136, 136, 136); line-height: 25px;
}
.ntes-loginframe-label-name {
	width: 50px; font-size: 14px; margin-left: -50px; float: left;
}
.ntes-loginframe-label-ipt {
	border: 1px solid rgb(221, 221, 221); border-image: none; width: 187px; height: 28px; line-height: 28px; text-indent: 6px; float: left;
}
.ntes-loginframe-checkbox {
	margin-top: 5px; margin-right: 7px; float: left; _margin-top: 2px;
}
.ntes-loginframe-btn {
	border: 1px solid rgb(35, 148, 56); border-image: none; width: 189px; height: 30px; color: rgb(255, 255, 255); font-size: 14px; font-weight: bold; float: left; cursor: pointer; background-image: -ms-linear-gradient(rgb(94, 186, 109), rgb(60, 160, 81)); background-color: rgb(94, 186, 109);
}
.ntes-loginframe-btn:hover {
	border: 1px solid rgb(35, 148, 56); border-image: none; background-image: -ms-linear-gradient(rgb(58, 175, 78), rgb(17, 140, 43)); background-color: rgb(58, 175, 78);
}
.ntes-domain-selector {
	line-height: 21px; text-indent: 5px; margin-top: -1px; position: fixed; z-index: 9999; _position: absolute;
}
.ntes-domain-selector-main {
	background: rgb(255, 255, 255); padding: 0px; border: 1px solid rgb(220, 221, 221); border-image: none; width: 100%; margin-top: -3px; position: absolute;
}
.ntes-domain-selector .title {
	line-height: 22px;
}
.ue-animation {
	backface-visibility: hidden; animation-duration: 0.8s; animation-timing-function: ease; animation-delay: 0.2s; animation-fill-mode: both; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -o-backface-visibility: hidden; -webkit-animation-duration: .8s; -webkit-animation-delay: .2s; -webkit-animation-timing-function: ease; -webkit-animation-fill-mode: both; -moz-animation-duration: .8s; -moz-animation-delay: .2s; -moz-animation-timing-function: ease; -moz-animation-fill-mode: both; -o-animation-duration: .8s; -o-animation-delay: .2s; -o-animation-timing-function: ease; -o-animation-fill-mode: both;
}
.ue-shake {
	animation-name: shake; -webkit-animation-name: shake; -moz-animation-name: shake; -o-animation-name: shake;
}
@media not all, not all, not all, not all, not all
{
.ntes-nav-entry-wblog {
	background-image: url("http://img3.cache.netease.com/www/v2013/vector/icon_retina_v5.svg"); background-repeat: no-repeat;
}
.ntes-nav-entry-mail {
	background-image: url("http://img3.cache.netease.com/www/v2013/vector/icon_retina_v5.svg"); background-repeat: no-repeat;
}
.ntes-nav-entry-money {
	background-image: url("http://img3.cache.netease.com/www/v2013/vector/icon_retina_v5.svg"); background-repeat: no-repeat;
}
.ntes-nav-entry-rss {
	background-image: url("http://img3.cache.netease.com/www/v2013/vector/icon_retina_v5.svg"); background-repeat: no-repeat;
}
.ntes-nav-entry-huatian {
	background-image: url("http://img3.cache.netease.com/www/v2013/vector/icon_retina_v5.svg"); background-repeat: no-repeat;
}
.productlinks-i-mail {
	background-image: url("http://img3.cache.netease.com/www/v2013/vector/icon_retina_v5.svg"); background-repeat: no-repeat;
}
.productlinks-i-game {
	background-image: url("http://img3.cache.netease.com/www/v2013/vector/icon_retina_v5.svg"); background-repeat: no-repeat;
}
.productlinks-i-sns {
	background-image: url("http://img3.cache.netease.com/www/v2013/vector/icon_retina_v5.svg"); background-repeat: no-repeat;
}
.productlinks-i-recommend {
	background-image: url("http://img3.cache.netease.com/www/v2013/vector/icon_retina_v5.svg"); background-repeat: no-repeat;
}
.ntes-nav-entry-wblog {
	background-position: left 1px;
}
.ntes-nav-entry-mail {
	background-position: left -25px;
}
.ntes-nav-entry-money {
	background-position: left -53px;
}
.ntes-nav-entry-rss {
	background-position: left -80px;
}
.ntes-nav-entry-huatian {
	background-position: left -278px;
}
}
.N-nav-bottom {
	background: rgb(51, 51, 51); color: rgb(97, 97, 97);
}
.N-nav-bottom-copyright {
	color: rgb(221, 221, 221); padding-right: 2px;
}
.N-nav-bottom-copyright-icon {
	font-family: Arial;
}
.N-nav-bottom-main {
	margin: 0px auto; width: 960px; height: 39px; line-height: 39px;
}
.N-nav-bottom-main a {
	padding: 0px 4px; color: rgb(221, 221, 221);
}
.N-nav-bottom-main a:visited {
	padding: 0px 4px; color: rgb(221, 221, 221);
}
.N-nav-bottom-main a:hover {
	padding: 0px 4px; color: rgb(221, 221, 221);
}
.N-nav-bottom-main a:hover {
	text-decoration: underline;
}
.N-nav-channel {
	margin: 0px auto; padding: 14px 0px; width: 960px; text-align: center; line-height: 13px;
}
.N-nav-channel a {
	padding: 0px 7px; border-left-color: rgb(221, 221, 221); border-left-width: 1px; border-left-style: solid;
}
.N-nav-channel a:link {
	color: rgb(37, 37, 37);
}
.N-nav-channel a:visited {
	color: rgb(37, 37, 37);
}
.N-nav-channel a:hover {
	color: rgb(204, 27, 27);
}
.N-nav-channel a:active {
	color: rgb(204, 27, 27);
}
.N-nav-channel a.first {
	padding-right: 6px; padding-left: 0px; border-left-color: currentColor; border-left-width: 0px; border-left-style: none;
}
.N-nav-channel a.last {
	padding-right: 0px; padding-left: 6px;
}
.ntes_nav_wrap {
	height: 45px;
}
.ntes-nav {
	font-family: "ËÎÌו",sans-serif; font-size: 12px;
}
.ntes-nav .left {
	float: left;
}
.ntes-nav .ntes_cnav_logo {
	margin: 12px 12px 0px 0px; width: 87px; height: 19px; line-height: 19px; float: left; _display: inline;
}
.ntes-nav .ntes_cnav_logo a {
	width: 100%; height: 100%; text-indent: -99em; overflow: hidden; display: block; background-image: url("http://img1.cache.netease.com/f2e/include/2013/images/channel_logo.png"); background-repeat: no-repeat;
}
.ntes-nav .ntes_cnav_logo_news {
	background-position: 0px 0px;
}
.ntes-nav .ntes_cnav_logo_sports {
	background-position: 0px -32px;
}
.ntes-nav .ntes_cnav_logo_ent {
	background-position: 0px -64px;
}
.ntes-nav .ntes_cnav_logo_money {
	background-position: 0px -96px;
}
.ntes-nav .ntes_cnav_logo_auto {
	background-position: 0px -128px;
}
.ntes-nav .ntes_cnav_logo_tech {
	background-position: 0px -160px;
}
.ntes-nav .ntes_cnav_logo_digi {
	background-position: 0px -193px;
}
.ntes-nav .ntes_cnav_logo_mobile {
	background-position: 0px -224px;
}
.ntes-nav .ntes_cnav_logo_lady {
	background-position: 0px -256px;
}
.ntes-nav .ntes_cnav_logo_house {
	background-position: 0px -288px;
}
.ntes-nav .ntes_cnav_logo_blog {
	background-position: 0px -320px;
}
.ntes-nav .ntes_cnav_logo_edu {
	background-position: 0px -352px;
}
.ntes-nav .ntes_cnav_logo_travel {
	background-position: 0px -384px;
}
.ntes-nav .ntes_cnav_logo_fashion {
	background-position: 0px -416px;
}
.ntes-nav .ntes_cnav_logo_home {
	background-position: 0px -448px;
}
.ntes-nav .ntes_cnav_logo_baby {
	background-position: 0px -480px;
}
.ntes-nav .ntes_cnav_logo_bbs {
	background-position: 0px -512px;
}
.ntes-nav .ntes_cnav_logo_art {
	background-position: 0px -543px;
}
.ntes-nav .ntes_cnav_logo_men {
	background-position: 0px -575px;
}
.ntes-nav .ntes_cnav_logo_war {
	background-position: 0px -608px;
}
.ntes-nav .ntes_cnav_logo_discovery {
	background-position: 0px -639px;
}
.ntes-nav .ntes_cnav_logo_gongyi {
	background-position: 0px -670px;
}
.ntes-nav .ntes_cnav_logo_media {
	background-position: 0px -700px;
}
.ntes-nav .ntes_cnav_logo_daxue {
	background-position: 0px -731px;
}
.ntes-nav .ntes_cnav_logo_video {
	background-position: 0px -762px;
}
.ntes-nav .ntes_cnav_logo_gov {
	background-position: 0px -793px;
}
.ntes-nav .ntes_cnav_logo_game {
	background-position: 0px -825px;
}
.ntes-nav .ntes_cnav_logo_tie {
	background-position: 0px -857px;
}
.ntes-nav .ntes_cnav_link {
	height: 16px; color: rgb(179, 179, 179); line-height: 16px; overflow: hidden; margin-top: 15px; float: left;
}
.ntes-nav .ntes_cnav_link a {
	margin: 0px;
}
.ntes-nav .ntes_cnav_link ul {
	margin-left: -1px; float: left; _display: inline;
}
.ntes-nav .ntes_cnav_link li {
	padding: 0px 9px; height: 14px; line-height: 14px; border-left-color: rgb(79, 79, 79); border-left-width: 1px; border-left-style: solid; float: left;
}
.ntes-nav .ntes_cnav_logobox_jiu {
	margin: 6px 12px 0px 0px; width: 73px; height: 34px; line-height: 34px; float: left; _display: inline;
}
.ntes-nav .ntes_cnav_logobox_jiu a {
	background: url("http://img1.cache.netease.com/f2e/include/2013/images/jiu_logo.png") no-repeat 0px 0px; width: 100%; height: 100%; text-indent: -99em; overflow: hidden; display: block;
}
.N-nav-bottom {
	font-family: "ËÎÌו",sans-serif; font-size: 12px;
}
.N-nav-channel {
	font-family: "ËÎÌו",sans-serif; font-size: 12px;
}
.review_calendar {
	width: 83px; height: 30px; text-align: center; position: relative; z-index: 2; cursor: pointer;
}
.review_calendar a {
	text-decoration: none;
}
.review_calendar a:hover {
	background-color: rgb(0, 109, 156);
}
.review_calendar .select_date {
	height: 29px; text-align: center; color: rgb(255, 255, 255); line-height: 29px; overflow: hidden; font-size: 14px; border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid; float: left;
}
.review_calendar .select_date a {
	color: rgb(255, 255, 255); text-decoration: none;
}
.review_calendar .select_date a:hover {
	color: rgb(255, 255, 255); text-decoration: none;
}
.review_calendar .select_date a:visited {
	color: rgb(255, 255, 255); text-decoration: none;
}
.review_calendar .date_title {
	background: rgb(221, 221, 221); padding: 0px 5px 0px 6px; height: 26px; line-height: 26px; overflow: hidden;
}
.review_calendar .date_title li {
	margin: 0px 1px 1px 0px; width: 26px; font-weight: bold; float: left; _display: inline;
}
.review_calendar .date_title .endweek {
	color: rgb(186, 38, 54);
}
.review_calendar .date_list {
	padding: 0px 5px 5px 6px; overflow: hidden;
}
.review_calendar .date_list li {
	background: rgb(246, 246, 246); margin: 0px 1px 1px 0px; width: 26px; height: 26px; text-align: center; line-height: 26px; overflow: hidden; float: left; _display: inline;
}
.review_calendar .date_list a {
	background: rgb(246, 246, 246); text-align: center; display: block;
}
.review_calendar .date_list a:hover {
	background: rgb(0, 162, 229); color: rgb(255, 255, 255);
}
.review_calendar .date_list a.current {
	background: rgb(0, 162, 229); color: rgb(255, 255, 255);
}
.review_calendar .date_list .future {
	color: rgb(205, 205, 205); cursor: default;
}
.review_calendar .date_list .future:hover {
	background: rgb(255, 255, 255); color: rgb(205, 205, 205);
}
.calendar_prev {
	width: 36px; height: 29px; text-align: center; line-height: 29px; overflow: hidden; font-size: 22px; font-weight: bold; float: left; background-color: rgb(0, 162, 229);
}
.calendar_next {
	width: 36px; height: 29px; text-align: center; line-height: 29px; overflow: hidden; font-size: 22px; font-weight: bold; float: left; background-color: rgb(0, 162, 229);
}
.calendar_date {
	margin: 0px 1px; width: 126px; float: left; background-color: rgb(0, 162, 229); _display: inline;
}
.calendar_prev:hover {
	background-color: rgb(17, 108, 153);
}
.calendar_next:hover {
	background-color: rgb(17, 108, 153);
}
.review_calendar .calendar_ctrl_disabled {
	cursor: default; background-color: rgb(230, 230, 230);
}
.review_calendar .calendar_ctrl_disabled:hover {
	cursor: default; background-color: rgb(230, 230, 230);
}
.calendar_title {
	background: url("http://img1.cache.netease.com/f2e/sports/index/images/calendarico_spr.png") no-repeat right 0px rgb(255, 255, 255); border: 1px solid rgb(232, 232, 232); border-image: none; height: 28px; text-align: center; line-height: 28px; overflow: hidden; padding-right: 16px; display: block;
}
.calendar_title_on {
	background-position: right -29px;
}
.calendar_main {
	background: rgb(230, 230, 230); border: 1px solid rgb(204, 204, 204); border-image: none; top: 32px; width: 200px; right: 0px; clear: both; display: none; position: absolute; z-index: 2;
}
.ad_area {
	border: 1px solid rgb(211, 211, 211); border-image: none; overflow: hidden; clear: both;
}
.ad_960 {
	width: 960px; overflow: hidden;
}
.ad_650 {
	width: 650px;
}
.ad_300 {
	width: 300px;
}
.ad_left {
	float: left;
}
.ad_right {
	float: right;
}
.ad_lst a {
	color: rgb(55, 106, 119);
}
.ad_lst a:visited {
	color: rgb(55, 106, 119);
}
.ad_lst a:hover {
	color: rgb(55, 106, 119);
}
.ad_lst_a {
	padding-left: 12px;
}
.ad_lst_a li {
	background: url("http://img1.cache.netease.com/cnews/news2012/img/icons-sprites.png") no-repeat 0px -138px; padding: 0px 0px 0px 10px; width: 126px; line-height: 29px; float: left;
}
.footerbg {
	background: repeat-x 0px 0px rgb(248, 248, 248); border-top-color: rgb(221, 221, 221); border-top-width: 1px; border-top-style: solid;
}
.footer {
	margin: 0px auto; width: 960px; overflow: hidden;
}
.footer_channel {
	background: url("http://img1.cache.netease.com/f2e/sports/index/images/sportslogo_spr.png") no-repeat 0px -80px; margin: 20px 31px 0px 0px; width: 130px; height: 91px; float: left; _display: inline;
}
.footer_channel a {
	background: url("about:blank"); width: 100%; height: 100%; text-indent: -99em; overflow: hidden; display: block;
}
.footer_content {
	overflow: hidden; float: left;
}
.news_sub {
	width: 180px; padding-bottom: 1000px; margin-bottom: -970px; border-left-color: rgb(221, 221, 221); border-left-width: 1px; border-left-style: solid; float: left;
}
.other_channels {
	width: 340px; padding-bottom: 1000px; margin-bottom: -970px; border-left-color: rgb(221, 221, 221); border-left-width: 1px; border-left-style: solid; float: left;
}
.other_info {
	padding: 20px 0px 1000px 25px; width: 251px; margin-bottom: -970px; border-left-color: rgb(221, 221, 221); border-left-width: 1px; border-left-style: solid; float: left;
}
.footer_module_content h3 {
	padding: 30px 0px 10px 30px; color: rgb(128, 128, 128); font-weight: bold;
}
.footer_module_coo h3 {
	padding: 30px 0px 10px 30px; color: rgb(128, 128, 128); font-weight: bold;
}
.footer_module_content h3 a {
	color: rgb(128, 128, 128); font-weight: bold;
}
.footer_module_content h3 a:visited {
	color: rgb(128, 128, 128); font-weight: bold;
}
.footer_module_coo h3 a {
	color: rgb(128, 128, 128); font-weight: bold;
}
.footer_module_coo h3 a:visited {
	color: rgb(128, 128, 128); font-weight: bold;
}
.footer_module_content h3 a:hover {
	color: rgb(186, 38, 54);
}
.footer_module_coo h3 a:hover {
	color: rgb(186, 38, 54);
}
.footer_module_content p a {
	width: 64px; height: 28px; line-height: 28px; overflow: hidden; padding-left: 20px; float: left; white-space: nowrap;
}
.footer_module_content p a {
	color: rgb(136, 136, 136);
}
.footer_module_content p a:visited {
	color: rgb(136, 136, 136);
}
.footer_module_coo p a {
	color: rgb(136, 136, 136);
}
.footer_module_coo p a:visited {
	color: rgb(136, 136, 136);
}
.footer_module_content p a:hover {
	color: rgb(186, 38, 54);
}
.footer_module_coo p a:hover {
	color: rgb(186, 38, 54);
}
.footer_module_coo {
	color: rgb(136, 136, 136);
}
.footer_module_coo p {
	line-height: 28px; padding-left: 13px;
}
.footer_module_coo p a {
	padding: 0px 7px; height: 28px; color: rgb(136, 136, 136); display: inline-block;
}
.footer_module_coo p a:visited {
	padding: 0px 7px; height: 28px; color: rgb(136, 136, 136); display: inline-block;
}
.hot_keys {
	padding-left: 2px;
}
.hot_keys a {
	padding: 0px 10px;
}
.hot_keys span {
	color: rgb(51, 51, 51); line-height: 28px;
}
.hot_keys a {
	color: rgb(51, 51, 51); line-height: 28px;
}
.hot_keys a:visited {
	color: rgb(51, 51, 51); line-height: 28px;
}
.hot_keys a:hover {
	color: rgb(186, 38, 54);
}
.footer_content .search_input_area {
	background: rgb(255, 255, 255); width: 240px;
}
.footer_content .top_search .textBox {
	width: 218px; _width: 210px;
}
.footer_content .search_logo {
	float: right;
}
.top_search {
	margin: 21px 0px 9px; float: right; display: inline;
}
.top_search .textBox {
	background: 0px 0px rgb(255, 255, 255); border: 0px currentColor; border-image: none; width: 205px; height: 28px; color: rgb(136, 136, 136); line-height: 28px; text-indent: 3px; float: left;
}
.search_input_area {
	background: rgb(255, 255, 255); border: 1px solid rgb(232, 232, 232); width: 230px; height: 28px;
}
.search_logo {
	background: url("http://img6.cache.netease.com/cnews/news2012/img/icons-sprites-v3.png") no-repeat -350px -70px; border: 0px currentColor; border-image: none; width: 22px; height: 28px; float: left; cursor: pointer;
}
.passport-entry {
	padding: 2px 0px 0px; float: left;
}
.passport-entry a {
	padding: 0px 3px;
}
.passport-entry .weibo a {
	transition:background 0.3s cubic-bezier(0.17, 0.67, 0.88, 1.25), color 0.2s linear; width: 33px; height: 33px; display: block; background-image: url("http://img6.cache.netease.com/cnews/news2012/img/icons-sprites-v3.png"); background-repeat: no-repeat; -webkit-transition: background .3s cubic-bezier(.17, .67, .88, 1.25), color .2s linear; -moz-transition: background .3s cubic-bezier(.17, .67, .88, 1.25), color .2s linear; -o-transition: background .3s cubic-bezier(.17, .67, .88, 1.25), color .2s linear;
}
.passport-entry .mail a {
	transition:background 0.3s cubic-bezier(0.17, 0.67, 0.88, 1.25), color 0.2s linear; width: 33px; height: 33px; display: block; background-image: url("http://img6.cache.netease.com/cnews/news2012/img/icons-sprites-v3.png"); background-repeat: no-repeat; -webkit-transition: background .3s cubic-bezier(.17, .67, .88, 1.25), color .2s linear; -moz-transition: background .3s cubic-bezier(.17, .67, .88, 1.25), color .2s linear; -o-transition: background .3s cubic-bezier(.17, .67, .88, 1.25), color .2s linear;
}
.passport-entry .rss a {
	transition:background 0.3s cubic-bezier(0.17, 0.67, 0.88, 1.25), color 0.2s linear; width: 33px; height: 33px; display: block; background-image: url("http://img6.cache.netease.com/cnews/news2012/img/icons-sprites-v3.png"); background-repeat: no-repeat; -webkit-transition: background .3s cubic-bezier(.17, .67, .88, 1.25), color .2s linear; -moz-transition: background .3s cubic-bezier(.17, .67, .88, 1.25), color .2s linear; -o-transition: background .3s cubic-bezier(.17, .67, .88, 1.25), color .2s linear;
}
.passport-entry .weibo a:hover {
	transition:background 0.3s cubic-bezier(0.17, 0.67, 0.88, 1.25), color 0.2s linear; width: 33px; height: 33px; display: block; background-image: url("http://img6.cache.netease.com/cnews/news2012/img/icons-sprites-v3.png"); background-repeat: no-repeat; -webkit-transition: background .3s cubic-bezier(.17, .67, .88, 1.25), color .2s linear; -moz-transition: background .3s cubic-bezier(.17, .67, .88, 1.25), color .2s linear; -o-transition: background .3s cubic-bezier(.17, .67, .88, 1.25), color .2s linear;
}
.passport-entry .mail a:hover {
	transition:background 0.3s cubic-bezier(0.17, 0.67, 0.88, 1.25), color 0.2s linear; width: 33px; height: 33px; display: block; background-image: url("http://img6.cache.netease.com/cnews/news2012/img/icons-sprites-v3.png"); background-repeat: no-repeat; -webkit-transition: background .3s cubic-bezier(.17, .67, .88, 1.25), color .2s linear; -moz-transition: background .3s cubic-bezier(.17, .67, .88, 1.25), color .2s linear; -o-transition: background .3s cubic-bezier(.17, .67, .88, 1.25), color .2s linear;
}
.passport-entry .rss a:hover {
	transition:background 0.3s cubic-bezier(0.17, 0.67, 0.88, 1.25), color 0.2s linear; width: 33px; height: 33px; display: block; background-image: url("http://img6.cache.netease.com/cnews/news2012/img/icons-sprites-v3.png"); background-repeat: no-repeat; -webkit-transition: background .3s cubic-bezier(.17, .67, .88, 1.25), color .2s linear; -moz-transition: background .3s cubic-bezier(.17, .67, .88, 1.25), color .2s linear; -o-transition: background .3s cubic-bezier(.17, .67, .88, 1.25), color .2s linear;
}
.passport-entry .weibo a {
	background-position: 0px 0px;
}
.passport-entry .mail a {
	background-position: -40px 0px;
}
.passport-entry .rss a {
	background-position: -80px 0px;
}
.passport-entry .weibo a:hover {
	background-position: 0px -35px;
}
.passport-entry .mail a:hover {
	background-position: -40px -35px;
}
.passport-entry .rss a:hover {
	background-position: -80px -35px;
}
.sports_head {
	background: rgb(248, 248, 248); margin: 0px auto; border-bottom-color: rgb(209, 209, 209); border-bottom-width: 1px; border-bottom-style: solid;
}
.sports_channel {
	margin: 0px auto -1px; width: 960px;
}
.sports_logo {
	background: url("http://img1.cache.netease.com/f2e/sports/index/images/sportslogo_spr.png") no-repeat 0px 0px; margin: 26px 12px 0px 2px; width: 107px; height: 24px; overflow: hidden; float: left;
}
.sports_logo a {
	background: url("about:blank"); width: 100%; height: 100%; text-indent: -99em; overflow: hidden; display: block;
}
.sports_attlogo {
	background: url("http://img1.cache.netease.com/f2e/sports/index/images/sportslogo_spr.png") no-repeat 0px -40px; width: 159px; height: 24px; text-indent: -99em; overflow: hidden; margin-top: 26px; float: left;
}
.sports_topic {
	margin: 26px 14px 0px 0px; height: 24px; line-height: 24px; float: left;
}
.sports_topic_en {
	font-family: Arial; font-size: 28px;
}
.sports_topic_ch {
	font-family: "MicroSoft YaHei",SimSun,Arial; font-size: 22px;
}
.sports_crumbs {
	margin: 26px 0px 0px; height: 24px; line-height: 30px; overflow: hidden; font-size: 14px; float: left;
}
.sports_calendar {
	margin: 21px 0px 0px 5px; width: 83px; height: 30px; text-align: center; float: right; position: relative; z-index: 99; cursor: pointer;
}
