<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
 
	<bean id="appconfig"
		class="org.springframework.beans.factory.config.PropertiesFactoryBean">
		<property name="locations">
			<list>
				<value>file:${catalina.home}/conf/hehenian.properties</value>
			</list>
		</property>
  	</bean>
	
	<!--  session  -->
 	<bean id="sessionMemcached" class="net.spy.memcached.spring.MemcachedClientFactoryBean">
		<property name="servers" value="${memcache.session.address}" />
		<property name="protocol" value="BINARY" />
		<property name="transcoder">
			<bean class="net.spy.memcached.transcoders.SerializingTranscoder">
				<property name="compressionThreshold" value="1024" />
			</bean>
		</property>
		<property name="opTimeout" value="1000" />
		<property name="timeoutExceptionThreshold" value="1998" />
		<property name="locatorType" value="CONSISTENT" />
		<property name="failureMode" value="Redistribute" />
		<property name="useNagleAlgorithm" value="false" />
	</bean>
	<bean id="sessionManager" class="com.hehenian.common.memcache.MemcachedSessionManager">
		<property name="sessionKey" value="s" />
		<property name="sessionTimeout" value="120" />
		<property name="memcachedServers" value="${memcache.session.address}" />
		<property name="cookieDomain" value="${memcache.session.cookieDomain}" />
	</bean>
	
	<bean id="sessionIdGenerator" class="com.hehenian.common.session.id.JdkUUIDGenerator" />
	<bean id="sessionProvider" class="com.hehenian.common.session.CacheSessionProvider">
		<property name="sessionCache" ref="sessionCache" />
		<property name="sessionIdGenerator" ref="sessionIdGenerator" />
	</bean>
	<bean id="sessionCache" class="com.hehenian.common.session.cache.MemcachedSpyCache">
		<property name="client" ref="sessionMemcached" />
	</bean>
	
</beans>