@charset "utf-8"; 
/* CSS Document */

.main{ width:980px; margin:20px 0px 10px 0px }

.main_top{ float:left; width:980px; height:27px; margin-bottom:10px;}
.topNews{ float:left; height:27px; width:720px; }
.topNews h1{ float:left; color:#339933; font-size:12px; font-weight:bolder;}
.topNews_main{ float:left; width:450px; height:24px; overflow:hidden; }
.topNews_main ul li{ float:left; width:420px; height:24px; line-height:24px; padding-left:5px; padding-right:5px; display:inline; overflow:hidden; }
.topNews_main ul li a{ color:#333; text-decoration:underline; }
.topNews_main ul li a:hover{ color:#eb6100; }

.mainLeft{ float:left; width:720px;}

.mainLeft_ad{ float:left; width:720px; height:90px; margin-top:10px; }


.mainLeft_banner{ float:left; width:375px; height:200px; margin-right:15px; }
.mainLeft_rmdt{ float:left; width:330px; height:200px; }
.mainLeft_rmdt h1{  width:320px; height:24px; padding-left:10px; padding-bottom:10px; line-height:24px; font-size:14px; font-weight:bolder; color:#eb6100; background:url(../images/index_icon.gif) 0px -22px no-repeat; }
.mainLeft_rmdt h2{ width:330px; height:24px; line-height:24px; font-size:12px; font-weight:bolder; color:#333;  }
.mainLeft_rmdt h3{  width:330px; line-height:18px; font-size:12px; font-weight:normal; color:#666; padding-bottom:3px; margin-bottom:3px;  border-bottom:1px dotted #ccc;}
.mainLeft_rmdt ul{ width:330px; }
.mainLeft_rmdt ul li{ width:317px; padding-left:13px; height:24px; line-height:24px; background:url(../images/index_icon.gif) 0px -78px no-repeat; overflow:hidden; }


.mainLeft_szzr{ float:left; width:720px; height:190px; margin-top:10px; }
.rollpic{ height:125px; overflow:hidden;}

.mainLeft_kczx{ float:left; width:720px; margin-top:10px; }

.mainLeft_zxsc{ float:left; width:720px; height:280px; margin-top:10px; }
.mainLeft_zxsc_list{ float:left; }
.mainLeft_zxsc_list ul{ float:left; width:700px; margin-left:10px; }
.mainLeft_zxsc_list ul li{ float:left; width:150px; height:210px; margin-left:10px; margin-right:10px; text-align:center; }
.mainLeft_zxsc_list ul li a{ float:left; display:block; padding:5px; }
.mainLeft_zxsc_list ul li a:hover{ display:block; padding:4px; border:1px solid #dedede; text-decoration:none;}

.mainLeft_zxsc_list_pic{ float:left; width:140px; height:140px; }
.mainLeft_zxsc_list h1{ float:left; width:140px; height:28px; padding-top:5px; color:#333; font-size:12px; line-height:14px; font-weight:normal; overflow:hidden;}
.mainLeft_zxsc_list h2{ float:left; width:140px; color:#cc3300; font-size:12px; font-weight:bolder;}


.mainLeft_lkfd{ float:left; width:720px; margin-top:10px; }
.mainLeft_lkfd_box{ float:left; width:330px; padding-right:14px; padding-bottom:10px; border-top:1px solid #dedede;  border-bottom:1px dotted #ccc;   }
.mainLeft_lkfd_box h1{padding-right:14px; height:24px; padding-left:10px; line-height:24px; font-size:12px; font-weight:bolder; color:#eb6100; background:url(../images/index_icon.gif) 0px -22px no-repeat; }
.mainLeft_lkfd_box h2{  padding-right:14px; height:24px; line-height:24px; font-size:12px; font-weight:bolder; color:#333;  }
.mainLeft_lkfd_box h3{padding-right:14px; line-height:18px; font-size:12px; font-weight:normal; color:#666;}



.mainRight{ float:right; width:250px;  }

.mainRight_ad{ float:right; width:250px; height:100px; margin-top:10px; }

.mainRight_ksap{ float:right; width:248px; border:1px solid #dedede; border-bottom:none; background:#fafafa; }
.mainRight_ksap_title{ width:248px; height:32px; line-height:32px; text-align:center; color:#333; font-size:14px; font-weight:bolder; border-bottom:3px solid #eb6100; }
.mainRight_ksap ul{ float:left; width:248px; padding-top:10px;}
.mainRight_ksap ul li{ float:left; width:248px; height:45px; margin-top:4px; text-align:center; border-top:1px solid #dedede; border-bottom:1px solid #dedede; background:#f6f6f6;}
.mainRight_ksap ul li.active{ float:left; width:248px; height:45px; margin-top:4px; text-align:center; border-top:1px solid #dedede; border-bottom:1px solid #dedede; background:url(../images/index_btn.gif) -550px -130px no-repeat; }
.mainRight_ksap_name1{ color:#eee; font-size:14px; line-height:24px; padding-top:3px;}
.mainRight_ksap_time1{ color:#eee; font-size:12px; line-height:12px;}
.mainRight_ksap_name2{ color:#333; font-size:14px; line-height:24px; padding-top:3px;}
.mainRight_ksap_time2{ color:#878787; font-size:12px; line-height:12px;}

.mainRight_zxsjsp{ float:right; width:250; margin-top:10px; }

.mainRight_jhzl{ float:right; width:250; margin-top:10px; }

.mainRight_zsjz{ float:right; width:250; margin-top:10px; }

.mainRight_msytj{ float:right; width:250; margin-top:10px; }


.boxTab{}
.boxTab_title{ float:right; width:540px;}
.boxTab_title ul{ float:right; width:540px; text-align:right; overflow:hidden; }
.boxTab_title li.normal{ display:inline-block; *display:inline; zoom:1; overflow:hidden; width:62px; height:19px; color:#666; margin:7px 1px 0px 1px; padding:1px 0px 0px 0px; line-height:20px; text-align:center; cursor:pointer; background:url(../images/index_btn.gif) 0px -160px no-repeat; }
.boxTab_title li.active{ display:inline-block; *display:inline; zoom:1; overflow:hidden; width:62px; height:19px; color:#fff; margin:7px 1px 0px 1px; padding:1px 0px 0px 0px; line-height:20px; text-align:center; cursor:pointer; background:url(../images/index_btn.gif) 0px -130px no-repeat;}

/* 分类下拉菜单 */
.selectMore{ display:inline-block; *display:inline; zoom:1; overflow:hidden;  color:#666; line-height:19px; border-bottom:1px solid #eb6100; border-left:1px solid #eb6100; margin-bottom:10px;}
.selectMore ul{ float:right; width:539px; text-align:right; overflow:hidden; }
.selectMore li.normal{ display:inline-block; *display:inline; zoom:1; overflow:hidden; width:62px; height:19px; color:#666; margin:7px 1px 0px 1px; padding:1px 0px 0px 0px; line-height:20px; text-align:center; cursor:pointer; background:url(../images/index_btn.gif) 0px -160px no-repeat; }
.selectMore li.active{ display:inline-block; *display:inline; zoom:1; overflow:hidden; width:62px; height:19px; color:#fff; margin:7px 1px 0px 1px; padding:1px 0px 0px 0px; line-height:20px; text-align:center; cursor:pointer; background:url(../images/index_btn.gif) 0px -130px no-repeat;}